extends ../layout

block stylesheets
    link(rel="stylesheet", href="/stylesheets/order.css")
block content
    include ../common/header
    include ../common/index
    +header(1)
    +place(module,'order')
    .order-wrap
        .order-com
            .item-type
                span.no step1.填写与核对订单 >
                span.on step2.支付 >
                span step3.成功提交订单 >
            h3.pro-title
                | 订单总额
                span.price
                    em ￥
                    |#{data[0].data.paySum}
                a.pay-info-btn(href='javascript:;')
                    i.ico-btop
                    | 订单信息
            .pay-tab-info
                if module==='ticket'|| module==='route'
                    h5=data[0].data.orderInfo
                    span 游玩日期：
                        +strcutTime(data[0].data.startTime,10)
                    span 购买数量：#{data[0].data.amount}
                    span 联系人：#{data[0].data.linkName}
                    span 手机号：#{data[0].data.linkMobile}
                    span 身份证号码：#{data[0].data.linkIdcard}
                if module==='hotel'
                    h5=data[0].data.orderInfo
                    span 入住日期：
                        +strcutTime(data[0].data.startTime,10)
                        | 至
                        +strcutTime(data[0].data.endTime,10)
                    br
                    span 房间数量：#{data[0].data.amount}
                    span 联系人：#{data[0].data.linkName}
                    span 手机号：#{data[0].data.linkMobile}
                    span 身份证号码：#{data[0].data.linkIdcard}
                    br
                    p 备注：#{data[0].data.remark}
                if module==='combo'
                    h5=data[0].orderInfo
                    span 游玩日期：
                        +strcutTime(data[0].data.startTime,10)
                    span 自由行：#{data[0].data.orderInfo}
                    span 购买数量：#{data[0].data.amount}
                    span 联系人：#{data[0].data.linkName}
                    span 手机号：#{data[0].data.linkMobile}
                    span 身份证号码：#{data[0].data.linkIdcard}
                if module === 'repast'
                    h5=data[0].data.orderInfo
                    span 使用日期：
                        +strcutTime(data[0].data.startTime,10)
                    span 购买数量：#{data[0].data.amount}
                    span 联系人：#{data[0].data.linkName}
                    span 手机号：#{data[0].data.linkMobile}
                if module === 'car'
                    h5=data[0].data.orderInfo
                    span 使用日期：
                        +strcutTime(data[0].data.startTime,10)
                    span 购买数量：#{data[0].data.amount}
                    span 联系人：#{data[0].data.linkName}
                    span 手机号：#{data[0].data.linkMobile}
                    span 备注：#{data[0].data.remark}
                if module === 'shop'
                    h5=data[0].data.orderInfo
                    if data[0].data.sendType==0
                        span 数量：#{data[0].data.amount}
                        span 收货人：#{data[0].data.linkName}
                        span 手机号：#{data[0].data.linkMobile}
                        span.w100 收货地址： #{data[0].data.linkAddr}
                    else
                        span 数量：#{data[0].data.amount}
                        span 提货人：#{data[0].data.linkName}
                        span 手机号：#{data[0].data.linkMobile}
                        span.w100 提货地址 #{data[0].data.linkAddr}
                    span.w100 备注：#{data[0].data.remark}
            .table-box.pay-table-box
                h4.type-title.paytit
                    span 支付方式
                .pay-type
                    .paytype_list
                        .li(data-type='21')
                            label
                                input(name='paytype',checked='', type='radio')
                                img(src='../../images/order/zfb.jpg', alt='')
                        .li(data-type='35')
                            label
                                input(name='paytype',  type='radio')
                                img(src='../../images/order/wx.jpg', alt='')
            .pay-modify
                //a(href='ticket-order.html') 返回修改订单内容 <
            .cb
            .order-sub.clearfix
                a.btn-sub.blue-bg-down(href='/pay/'+data[0].data.orderType+'?orderId='+data[0].data.id+'&payType=21'+'&orderNo='+data[0].data.orderNo+'&paySum='+data[0].data.paySum+'&orderInfo='+data[0].data.orderInfo) 去支付
                // <input type="submit" value="提交订单" class="btn-sub" />
                p
                    | 订单金额
                    span.c-f63 ￥
                        |#{data[0].data.orderSum}
                    | -  优惠金额
                    span.c-f63 ￥ #{data[0].data.couponSum||0}
                    | =  订单总额
                    span.c-f63.price-total ￥
                        |#{data[0].data.paySum}
    include ../common/footer
    script.
        $(function () {
            $(".paytype_list label").click(function () {
                var index=$(this).parent().data('type');
                $(".btn-sub").attr('href','/pay/'+'#{data[0].data.orderType}'+'?orderId='+'#{data[0].data.id}'+'&payType='+index+'&orderNo='+'#{data[0].data.orderNo}'+'&paySum='+'#{data[0].data.paySum}'+'&orderInfo='+'#{data[0].data.orderInfo}')
            })
        })
