extends layout

block stylesheets
    link(rel="stylesheet", href="/stylesheets/swiper.min.css")
    link(rel="stylesheet", href="/stylesheets/index.css")

block javascripts
    script(type='text/javascript', src='javascripts/swiper.min.js')
    script(type='text/javascript', src='javascripts/velocity.js')
    script(type='text/javascript', src='javascripts/shutter.js')
    script(type='text/javascript', src='javascripts/jquery.cssforms.js')
    script(type='text/javascript', src='javascripts/index.js')

block content
    include ./common/header
    include ./common/index
    +header(1)
    // 头部
    -var datas=data[0].data
    // 轮播图
    .indexBanner
        // 轮播图
        #indexBanner.bannerBox
            .shutter-img
                each item in datas['pc-picture']
                    a(href=item.url)
                        img.bannerImg(src=item.mig)
            .shutter-pagination
                each item,index in datas['pc-picture']
                    span(class=(index==0)?'active':'')
            ul.shutter-btn
                li.prev
                li.next
        // 新闻
        if datas['pc-news'].length!=0
            .newsBox
                i.icon.icon-news
                // 新闻列表
                .newsList.swiper-container
                    ul.swiper-wrapper
                        each item in datas['pc-news']
                            // 列表遍历
                            li.swiper-slide
                                a.ellipsis(href=item.link)=item.jianjie

        // 预订
        //.orderBox
        //    .orderNav
        //        span.on 门票
        //        span 套票
        //        span 酒店
        //        span 餐饮
        //    // 预订表
        //    #orderFormBox.orderFormBox.swiper-container
        //        .swiper-wrapper
        //            .orderForm.swiper-slide
        //                form(action='', method='post')
        //                    table
        //                        tr
        //                            td
        //                                label 游玩时间
        //                            td
        //                                input(type='text', value='2017-12-15')
        //                            td
        //                                i.icon.icon-calendar
        //                        tr
        //                            td
        //                                label 套餐选择
        //                            td
        //                                select.orderSelect(name='', id='')
        //                                    option(value='0') 不限
        //                                    option(value='1') 套餐1
        //                                    option(value='2') 套餐2
        //                                    option(value='3') 套餐3
        //                            td
        //                                i.icon.icon-down
        //                        tr
        //                            td
        //                                label 成人数
        //                            td
        //                                input(type='text', value='1')
        //                            td
        //                                i.icon.icon-down
        //                        tr
        //                            td
        //                                label 儿童数
        //                            td
        //                                input(type='text', value='1')
        //                            td
        //                                i.icon.icon-down
        //                    input.orderBtn(type='submit', value='预订')
        //            .orderForm.swiper-slide
        //                form(action='', method='post')
        //                    table
        //                        tr
        //                            td
        //                                label 游玩时间
        //                            td
        //                                input(type='text', value='2017-12-15')
        //                            td
        //                                i.icon.icon-calendar
        //                        tr
        //                            td
        //                                label 套餐选择
        //                            td
        //                                select.orderSelect(name='')
        //                                    option(value='0') 不限
        //                            td
        //                                i.icon.icon-down
        //                        tr
        //                            td
        //                                label 成人数
        //                            td
        //                                input(type='text', value='1')
        //                            td
        //                                i.icon.icon-down
        //                        tr
        //                            td
        //                                label 儿童数
        //                            td
        //                                input(type='text', value='1')
        //                            td
        //                                i.icon.icon-down
        //                    input.orderBtn(type='submit', value='预订')
        //            .orderForm.swiper-slide
        //                form(action='', method='post')
        //                    table
        //                        tr
        //                            td
        //                                label 游玩时间
        //                            td
        //                                input(type='text', value='2017-12-15')
        //                            td
        //                                i.icon.icon-calendar
        //                        tr
        //                            td
        //                                label 套餐选择
        //                            td
        //                                select.orderSelect(name='')
        //                                    option(value='0') 不限
        //                            td
        //                                i.icon.icon-down
        //                        tr
        //                            td
        //                                label 成人数
        //                            td
        //                                input(type='text', value='1')
        //                            td
        //                                i.icon.icon-down
        //                        tr
        //                            td
        //                                label 儿童数
        //                            td
        //                                input(type='text', value='1')
        //                            td
        //                                i.icon.icon-down
        //                    input.orderBtn(type='submit', value='预订')
        //            .orderForm.swiper-slide
        //                form(action='', method='post')
        //                    table
        //                        tr
        //                            td
        //                                label 游玩时间
        //                            td
        //                                input(type='text', value='2017-12-15')
        //                            td
        //                                i.icon.icon-calendar
        //                        tr
        //                            td
        //                                label 套餐选择
        //                            td
        //                                select.orderSelect(name='')
        //                                    option(value='0') 不限
        //                            td
        //                                i.icon.icon-down
        //                        tr
        //                            td
        //                                label 成人数
        //                            td
        //                                input(type='text', value='1')
        //                            td
        //                                i.icon.icon-down
        //                        tr
        //                            td
        //                                label 儿童数
        //                            td
        //                                input(type='text', value='1')
        //                            td
        //                                i.icon.icon-down
        //                    input.orderBtn(type='submit', value='预订')
    // 热销产品
    .hotSalesProduct
        // 背景图
        .blockBg
        .recommendBox.innerW.clearfix
            // 标题
            .titleBox
                h3.titleName 热销产品
                .descrption
                    p
                        | 在这里，我们一起随时拥抱自然，与生活相拥
                        br
                        | 在这里，开启一段心灵的旅程
            // 列表
            .recommendContent
                // 更多
                //.more MORE>>
                .contentList.clearfix
                    .hot-box
                        each item in datas['hot-product']
                            // 列表遍历
                            .item.longH
                                // 遮罩层
                                .signLayer
                                    .line
                                    i.icon.icon-sign
                                    span.signText=item.name
                                // 主图
                                img.mainImg(src=item.mig, alt=item.title)
                                // 分类:推荐
                                span.keyWords
                                    i.icon.icon-recommend
                                // 弹出层
                                .itemLayer
                                    .layerInner
                                        h3
                                            +strcut(item.name,25)
                                        p.des=item.remark
                                        .priceBox
                                            .originalPrice 原价 ￥#{item.beforePrice}
                                            .normalPrice 普通价 ￥#{item.price}
                                            .memberPrice 会员价 ￥#{item.vipPrice}
                                        a.buyBtn(href=item.url)
                                            i.icon.icon-buyTxt

    // 推荐产品
    .recommendWrap
        .bg
        // 景点推荐
        .scenicRecommend.innerW
            .recommendBox.clearfix
                // 标题
                .titleBox
                    h3.titleName 景点推荐
                    .descrption
                        p
                            | 在这里，我们一起随时拥抱自然，与生活相拥
                            br
                            | 在这里，开启一段心灵的旅程
                // 列表
                .recommendContent
                    a.more(href='/list/ticket') MORE>>
                    .contentList.clearfix
                        each item,index in datas["pc-ticket"]
                            // 列表遍历
                            .item.shadow(class=(index==4)?'longW':'standard')
                                // 主图
                                a(href=item.url)
                                    img.mainImg(src=item.mig, alt=item.title)
                                    .normalLayer.ellipsis=item.name
                                // 弹出层
                                .itemScenicLayer
                                    h3.ellipsis=item.name
                                    .priceBox
                                        i ¥
                                        span.startPrice=item.price
                                        span.txt 起
                                    p.des
                                        if index==4
                                            +strcut(item.remark,90)
                                        else
                                            +strcut(item.remark,38)
        // 酒店推荐
        .innerW.hotelRecommendBox
            .titleBox
                a.more(href='/list/hotel') MORE>>
                h3 酒店推荐
            // 酒店列表
            .hotelList.clearfix
                // 列表遍历
                // 第一个特殊
                each item,index in datas["pc-hotel"]
                    if index==0
                        .item.shadow.first
                            #hotelImgs.imgs-swiper.swiper-container
                                .swiper-wrapper
                                    -var imgs=item.pics.split(',')
                                    each img in imgs
                                        .swiper-slide
                                            img(src=img, alt='')
                            .slide-rl.clearfix
                                .hotel-next.swiper-button-next.swiper-button-white
                                .hotel-prev.swiper-button-prev.swiper-button-white
                            h3.title=item.name
                            p.descrption
                                +strcut(item.remark,75)
                            .buyBox.clearfix
                                .priceBox
                                    i ¥
                                    span=item.price
                                .originalPrice 门市价：¥ #{item.beforePrice}
                                a.buyBtn(href=item.url) 立即预订
                    else
                        // 后面都一样
                        .item.shadow
                            .imgs-swiper.swiper-container
                                -var imgs=item.pics.split(',')
                                img(src=imgs[0], alt='')
                            h3.title=item.name
                            p.descrption
                                +strcut(item.remark,24)
                            .buyBox.clearfix
                                .priceBox
                                    i ¥
                                    span=item.price
                                .originalPrice 门市价：¥ #{item.beforePrice}
                                a.buyBtn(href=item.url) 立即预订
    // 黄山攻略
    .travelGuide
        .travelGuideBg
        .innerW
            // 攻略背景
            // 攻略主体
            .travelGuideBox
                .titleBox
                    h3.name
                        | 黄山攻略
                        p.des 在这里，我们一起随时拥抱自然，与生活相拥
                // 攻略列表
                #travelGuideList.travelGuideList.swiper-container
                    .swiper-wrapper
                        // 列表遍历
                        each item in datas["pc-strategy"]
                            .swiper-slide
                                .shadow-layer
                                a(href=item.link)
                                    img(src=item["face_img"], alt=item.title)
                                    h4.title.ellipsis=item.name
                                    p.des.ellipsis=item.jianjie
                .swiper-button-prev.guide-prev
                .swiper-button-next.guide-next
                .guide-swiper-pagination
    include ./common/footer

    // 底部 end

