extends ../layout

block stylesheets
    if module==='hotel'
        link(rel="stylesheet", href="/stylesheets/calendar.hotel.two.css")
    else
        link(rel="stylesheet", href="/stylesheets/calendar.css")
    link(rel="stylesheet", href="/stylesheets/order.css")
block javascripts
    script(type='text/javascript', src='/javascripts/jquery-1.8.3.min.js')
    script(type='text/javascript', src='/javascripts/jquery.calendar.js')
    script(type='text/javascript', src='/javascripts/validate/jquery.validate.min.js')
    script(type='text/javascript', src='/javascripts/validate/messages_zh.min.js')
    script(type='text/javascript', src='/javascripts/validate/additional-methods.js')
    script(type='text/javascript', src='/javascripts/pageItem.js')
    script(type='text/javascript', src='/javascripts/order.js')
    script(type='text/javascript', src='/javascripts/order/'+module+'.js')
block content
    include ../common/header
    include ../common/index
    include ./ordertype
    +header(1,'order')
    +place(module,'order')
    .order-wrap
        .order-com
            .item-type
                span.on step1.填写与核对订单 >
                span step2.支付 >
                span step3.成功提交订单 >
            form#validateForm
                h3.pro-title=data[0].data.aliasName
                .ord-infbox
                    .table-box
                        +orderform(data,reObj,module)
                        .cb.order-line
                        h4.type-title
                            | 优惠信息
                            span.tip 优惠券与优惠活动不能共享
                        if userinfo.id
                            #coupon-yhq.order-info
                                strong
                                    span.req-tag
                                    | 优惠券：
                                .form-panel
                                    select#select_couponCode.coupon-ch
                        else
                            #coupon-yhq.order-info
                                strong
                                    span.req-tag
                                    | 优惠券：
                                .form-panel
                                    .gologin 优惠券
                        .cb.order-line
                        if module==='ticket'
                            .order-agreement
                                input#agreement(type='checkbox', checked='checked')
                                label(for='agreement')
                                    | 同意
                                    a(href='javascript:;' class="xy-btn") 景区协议
                    .notice-box
                        h3.notice-tit 预订须知
                        if module==='combo'|| module==='car'|| module==='route'|| module==='orderNotice '|| module === 'shop'|| module === 'ticket'||module === 'hotel'|| module === 'repast'
                            .notice-com!=data[0].data.orderNotice
                                br
                        else
                            .notice-com!=data[0].data.modelExplain
                                br

                    .cb
                #order-xfbot.order-sub.clearfix
                    a.btn-sub.blue-bg-down(href='javascript:;') 提交订单
                    // <input type="submit" value="提交订单" class="btn-sub" />
                    p
                        | 订单金额
                        if module !== 'shop'
                            -var p=(data[1].data.list.length>0?data[1].data.list[0].currPrice:0)
                            span#avg.c-f63(price=p)=p
                        else
                            span#avg.c-f63(price=data[1].data.currentPrice)=data[1].data.currentPrice
                        span#yhtext -
                        span#yhje.c-f63 0
                        | =  订单总额
                        span#totla.c-f63.price-total
                input(name='rateCode',value=data[0].data.rateCode,class='rateCode')
                input(name='couponCode',value='',class='couponCode',type='hidden')
                input(name='couponCheckCode',value='',class='couponCheckCode',type='hidden')
    .xy-box
        .tip-header
            | 景区协议
            .layer-close X
        .tips-content 当天结束销售时间限制为：08:00
    .mask1
    if module==='shop'
        input(type='hidden',class='modelCode',value=data[0].data.modelCode)
    include ../common/footer
    script.
        var isNeedIdcard=false;
        var data2=!{JSON.stringify(data)};
        var rule=data2[2].data;
        var module='#{module}';
        var userinfo = !{JSON.stringify(userinfo)};
        if (module === 'shop') {
            var dataAdress = data2[3].data;
        }
        if(module==='ticket'){
            var isRealName=data2[0].data.isRealName=='T'?true:false;
        }
        isNeedIdcard = rule.isNeedIdcard=='T'?true:false;
