extends ../layout

block stylesheets
    link(rel="stylesheet", href="/stylesheets/member.css")
block javascripts
    script(type='text/javascript', src='/javascripts/member.js')
    script(src='/javascripts/distpicker.data.js')
    script.
        var buyerId = '#{userinfo.id}';
block content
    include ../common/header
    +header(1)
    include common/leftNav
    .cur-location
        a.locat-home(href='/') 首页
        |  >
        span 我的信息
    .member-module
        +leftNav(module)
        .member-content.be
            .content-title 个人信息
            .content.info-content
                .label-item
                    label 用户名：
                    span #{data[0].data.loginName}
                .label-item
                    label 手机号码：
                    if data[0].data.mobile
                        span #{data[0].data.mobile}
                    else
                        span 暂无
                .label-item
                    label 积分：
                    span #{data[0].data.leaguerScore || 0}
                .label-item
                    label 等级：
                    span #{data[0].data.leaguerPoint || 0}
                .label-item
                    label Email：
                    if data[0].data.email
                        span #{data[0].data.email}
                    else
                        span 暂无
                .label-item
                    label 真实姓名：
                    if data[0].data.realName
                        span #{data[0].data.realName}
                    else
                        span 暂无
                .label-item
                    label 性别：
                    case data[0].data.sex
                        when X
                        when "X"
                            span 男
                        when Y
                        when "Y"
                            span 女
                        default
                            span 暂无
                .label-item
                    label 身份证：
                    if data[0].data.idcard
                        span #{data[0].data.idcard}
                    else
                        span 暂无
                .label-item.address
                    label 联系地址：
                    span
                .label-item
                    label 邮编：
                    if data[0].data.post
                        span #{data[0].data.post}
                    else
                        span 暂无
                .label-item
                    a(href="/member/infomodify").cont-btn.mt60.c-bg-blue 编辑
    include ../common/footer
    script.
        $(function () {
            console.log(ChineseDistricts);
            var addr='#{data[0].data.addr}';
            var areaCode='#{data[0].data.areaCode}';
            if(!addr&&!areaCode){
                $(".address span").html('暂无');
            }else{
                var province = areaCode.split(',')[0];
                var city = areaCode.split(',')[1];
                var s = ChineseDistricts['86'][province];
                var c = ChineseDistricts[province][city] ? ChineseDistricts[province][city]:'';
                $(".address span").html(s + c + addr);

            }
        })