include ./comment
include ./pricelist
mixin content(data,module,priceData)
    -var titArr=[];
    case module
        when "ticket"
            -titArr=[{href:'px',name:'票型'},{href:'ydxz',name:'预订须知'},{href:'jdjj',name:'景区介绍'},{href:'jtzn',name:'交通指南'},{href:'ykpj',name:'游客评价'}];
        when "route"
            -titArr=[{href:'px',name:'票型'},{href:'ydxz',name:'预订须知'},{href:'jdjj',name:'产品介绍'},{href:'ykpj',name:'游客评价'}];
        when "hotel"
            -titArr=[{href:'px',name:'房型'},{href:'ydxz',name:'预订须知'},{href:'jdjj',name:'酒店简介'},{href:'jtzn',name:'交通指南'},{href:'ykpj',name:'游客评价'}];
        when "combo"
            -titArr=[{href:'ydxz',name:'预订须知'},{href:'jdjj',name:'产品特色'},{href:'fysm',name:'费用说明'},{href:'ykpj',name:'游客评价'}];
        when "shop"
            -titArr=[{href:'ydxz',name:'购买须知'},{href:'jdjj',name:'商品介绍'},{href:'ykpj',name:'游客评价'}];
        when "car"
            -titArr=[{href:'ydxz',name:'预订须知'},{href:'jdjj',name:'产品介绍'},{href:'ykpj',name:'游客评价'}];
        when "repast"
            -titArr=[{href:'px',name:'套餐预订'},{href:'ydxz',name:'预订须知'},{href:'jdjj',name:'餐厅介绍'},{href:'jtzn',name:'交通指南'},{href:'ykpj',name:'游客评价'}];
    +tabList(data,titArr,module,priceData)


mixin tabList(data,titArr,module,priceData)
    .detail-tab.mb10
        ul#menu_tab.menu_tab
            each item in titArr
                li
                    a(href='#' + item.href)=item.name
    if module==='ticket'|| module==='repast' || module==='route'
        +tickettype(priceData)
    if module==='hotel'
        +hoteltype(data[1].data)
    .detail-block.mb20
        .detail-main-box
            .detail-main
                each item,index in titArr
                    case module
                        when 'ticket'
                        when 'hotel'
                        when 'repast'
                            +ticketContent(data[1].data,item,index)
                        when 'combo'
                            +comboContent(data[1].data,item,index)
                        when 'route'
                            +routeContent(data[1].data,item,index)
                        when 'car'
                            +shopContent(data[1].data,item,index)
                        when 'shop'
                            +shopContent(data[1].data,item,index)
        .detail-r
            +rightInfo(data[2].data)

mixin ticketContent(data,item,index)
    if index>0
        .detail-module(id=item.href)
            h4.module-name
                i.item-ico1
                | #{item.name}
            if index==1
                .module-contain!=data.orderNotice
            if index==2
                .module-contain!=data.content
            if index==3
                .module-contain
                    #allmap
                    //.map-btn
                    //    a.blue-bg-down(href='') 查询路线
            if index==4
                +comment(data)
mixin routeContent(data,item,index)
    if index>0
        .detail-module(id=item.href)
            h4.module-name
                i.item-ico1
                | #{item.name}
            if index==1
                .module-contain!=data.orderNotice
            if index==2
                .module-contain!=data.content
            //if index==3
            //    .module-contain
            //        #allmap
            //        //.map-btn
            //        //    a.blue-bg-down(href='') 查询路线
            if index==3
                +comment(data)
mixin comboContent(data,item,index)
        .detail-module(id=item.href)
            h4.module-name
                i.item-ico1
                | #{item.name}
            if index==0
                .module-contain!=data.orderNotice
            if index==1
                .module-contain!=data.content
            if index==2
                .module-contain!=data.feeDetail
            if index==3
                +comment(data)

mixin shopContent(data,item,index)
    .detail-module(id=item.href)
        h4.module-name
            i.item-ico1
            | #{item.name}
        if index==0
            .module-contain!=data.orderNotice
        if index==1
            .module-contain!=data.content
        if index==2
            +comment(data)



