extends ../layout

block stylesheets
    link(rel="stylesheet", href="/stylesheets/jquery.page.css")
    if module==='hotel'
        link(rel="stylesheet", href="/stylesheets/calendar.hotel.two.css")
    else
        link(rel="stylesheet", href="/stylesheets/calendar.css")
    link(rel="stylesheet", href="/stylesheets/detail.css")
    link(rel="stylesheet", href="/stylesheets/share.min.css")
block javascripts
    script(type='text/javascript', src='http://api.map.baidu.com/api?v=2.0&ak=DE62ca2a357ccffe40770cf87cb63195')
    script(type='text/javascript', src='/javascripts/jquery.SuperSlide.2.1.1.js')
    script(type='text/javascript', src='/javascripts/laypage/laypage.js')
    script(type='text/javascript', src='/javascripts/jquery.calendar.js')
    script(type='text/javascript', src='/javascripts/pageItem.js')
    script(type='text/javascript', src='/javascripts/detail.js')
    script(type='text/javascript', src='/javascripts/jquery.share.min.js')
    if module === 'hotel'
        script(type='text/javascript', src='/javascripts/detail/hotel.js')
    if module === 'combo'|| module === 'car'
        script(type='text/javascript', src='/javascripts/detail/combo.js')
block content
    include ../common/index
    include ../common/header
    include ./top
    include ./content
    +header(1)
    +place(module,'detail')
    .detail-wrap
        +top(data[0].data,data[1].data,module)
        -var pricedata=''
        if module === 'ticket' || module === 'repast' || module === 'route'
            -pricedata=data[3]
        +content(data,module,pricedata)
    if module === 'combo' || module === 'car'
        input(type="hidden",class="rateCode",value=data[1].data.rateCode)
        #data-list(data-list=data[3].data.list)
        #ruleBuy(data-rule=data[4].data)
        input(type="hidden",class="modelCode",value=data[1].data.modelCode)
    else if module === 'shop'
        input(type="hidden",class="modelCode",value=data[1].data.modelCode)
        input(type="hidden",class="rateCode",value=data[1].data.rateCode)
    else
        input(type="hidden",class="modelCode",value=data[1].data.goodsCode)
    include ../common/footer
    script.
        $(function(){
            var module="#{module}";

            if(module==='hotel'|| module==='ticket'||module==='repast'){
                function loadMap() {
                    // 百度地图API功能
                    var map = new BMap.Map("allmap");    // 创建Map实例
                    var point = new BMap.Point(#{data[1].data.latitudeLongitude});
                    var marker = new BMap.Marker(point);  // 创建标注
                    map.centerAndZoom(point, 11);  // 初始化地图,设置中心点坐标和地图级别
                    map.addControl(new BMap.MapTypeControl());   //添加地图类型控件
                    map.addOverlay(marker);
                    map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放
                }

                loadMap();
            }
            if(module==='shop'){
                $(".goods-choose .n a").click(function () {
                    $(this).addClass('on').siblings().removeClass('on');
                });

                $(".peison a").click(function () {
                    var link = $(this).data('link');
                    $(".zyx-i-btn").attr("href", link);
                });
            }
        })
