mixin top(slide,data,module)
    case module
        when 'ticket'
            +ticket(slide,data)
        when 'hotel'
            +hotel(slide,data)
        when 'combo'
            +combo(slide,data)
        when 'shop'
            +shop(slide,data)
        when 'car'
            +car(slide,data)
        when 'route'
            +route(slide,data)
        when 'repast'
            +repast(slide,data)

mixin ticket(slide,data)
    .detail-head.mb10
        // 商品详情右侧
        .item-summary-box
            .item-summary.type1.tkt
                // 标题
                .item-name.ticket-name.r-price
                    h4
                        +strcut(data.aliasName,26)
                        span.level.c-blue
                            -for(var i=0;i<data.goodsLevel;i++)
                                | A
                    .price.c-red
                        i ￥
                        | #{data.priceShow}
                        em 起
                .border-goods
                +info(data)
                .address
                    a.go-map-a(gomap='#jtzn')=data.addr
                    .ticket-tags.inline
                        span=data.labelsName
                .detail-info.hotel-info
                    p.n
                        label 开放时间：
                        span #{data.openTime}-#{data.endTime}
                    p.n
                        label 景区特色：
                        span
                            +strcut(data.anotherName,46)
                .share
                    +share
        // 轮播图模块
        +imgslide(slide)
mixin route(slide,data)
    .detail-head.mb10
        // 商品详情右侧
        .item-summary-box
            .item-summary.type1.tkt
                // 标题
                .item-name.ticket-name.r-price
                    h4
                        +strcut(data.aliasName,26)
                        span.level.c-blue
                            -for(var i=0;i<data.goodsLevel;i++)
                                | A
                    .price.c-red
                        i ￥
                        | #{data.priceShow}
                        em 起
                .border-goods
                +info(data)
                .share
                    +share
        // 轮播图模块
        +imgslide(slide)
mixin hotel(slide,data)
    .detail-head.mb10
        .item-summary-box
            .item-summary.type1.tkt
                // 标题
                .item-name.hotel-name.r-price
                    h4
                        +strcut(data.aliasName,26)
                        span.start-box
                            -for(var i=0;i<data.goodsLevel;i++)
                                i
                    .hotel-tags.c-red
                        em=data.labelsName
                    .price.c-red
                        i ￥
                        |#{data.priceShow}
                        em 起
                .border-goods
                +info(data)
                .address
                    a.go-map-a(gomap='#jtzn')=data.addr
                .detail-info.hotel-info
                    p.n
                        label 酒店设施：
                        if data.hotelMachine
                            -var hotelMachine=data.hotelMachine.split(',')
                            span
                                each item in hotelMachine
                                    case item
                                        when 'wifi'
                                            em.icon.icon-wifi
                                        when '停车场'
                                            em.icon.icon-pack
                                        when 'spa'
                                            em.icon.icon-spa
                                        when '健身房'
                                            em.icon.icon-jsf
                                        when '餐厅'
                                            em.icon.icon-food
                                        when '瑜伽房'
                                            em.icon.icon-yy


                    p.n
                        label 酒店特色：
                        span.over=data.subtitle
                .share
                    +share

        +imgslide(slide)

mixin combo(slide,data)
    .detail-head.mb10
        // 商品详情右侧
        .item-summary-box
            .item-summary.type0.tkt
                // 标题
                .item-name
                    h4=data.aliasName
                    if data.labelsName
                        .tags
                            span=data.labelsName
                .detail-price
                    del.c-red 原价：#{data.priceShow}元
                    if data.currentPrice!=0
                        .saleprice
                            label.c-red 优惠价：
                            span
                                | #{data.currentPrice}
                                em 元 起
                .share
                    +share
                +info(data)
                .detail-low-txt
                    p
                        +strcut(data.subtitle,300)
                .r-detail-bottom
                    //.zyx-choose-type
                    //    span.on
                    //        +strcut(data.aliasName,26)
                    .btn
                        .detail-num.inline
                            strong 购买份数
                            span#adult-number
                                input.number(type='tel', value='1', id='amount')
                        .zyx-item-btn.inline
                            //.base-img.inline 扫码预订
                            a.zyx-i-btn.inline.blue-bg-down.ml175(href='javascript:;') 立即预订
        .item-left
            +bigImgSlide(slide)
            .empblock
            #calendar.detail-calender.zyx-calendar
            input(type="hidden",class="hiddata")

mixin shop(slide,data)
    .detail-head.mb10
        // 商品详情右侧
        .item-summary-box
            .item-summary.type1.tkt
                // 标题
                .item-name.goods-name
                    h4=data.aliasName
                        em.c-red=data.labelsName
                .foods-txt.detail-info
                    p.n
                        label 商品介绍：
                        span
                            +strcut(data.subtitle,38)

                .border-goods
                +info(data)
                .share
                    +share
                .goods-choose
                    //p.n
                    //    label 样式选择：
                    //    span
                    //        a.on(href='javascript:;') 样式1
                    //        a(href='javascript:;') 样式2
                    p.n.peison
                        label 配送方式：
                        span
                            a.on(href='javascript:;', data-link='/order/shop/'+data.rateCode+'?getType=0&goodsCode='+data.modelCode) 快递
                            a(href='javascript:;', data-link='/order/shop/'+data.rateCode+'?getType=1&goodsCode='+data.modelCode) 到店自提
                .r-detail-bottom
                    .btn
                        .zyx-item-btn.fr
                            .goods-price.inline.c-red
                                del 原价：¥#{data.priceShow}元
                                span.saleprice
                                    | 现价：¥
                                    em=data.currentPrice
                            a.zyx-i-btn.inline.c-bg-orange(href='/order/shop/'+data.rateCode+'?getType=0&goodsCode='+data.modelCode) 立即购买
        // 轮播图模块
        +imgslide(slide)
mixin car(slide,data)
    .detail-head.mb10
        // 商品详情右侧
        .item-summary-box
            .item-summary.type0.tkt
                // 标题
                .item-name
                    h4=data.aliasName
                    if data.labelsName
                        .tags
                            span=data.labelsName
                .detail-price
                    del.c-red 原价：#{data.priceShow}元
                    if data.currentPrice!=0
                        .saleprice
                            label.c-red 优惠价：
                            span
                                | #{data.currentPrice}
                                em 元 起

                +info(data)

                .detail-low-txt
                    p
                        +strcut(data.subtitle,300)
                .share
                    +share
                .r-detail-bottom
                    //.zyx-choose-type
                    //    span.on
                    //        +strcut(data.aliasName,26)
                    .btn
                        .detail-num.inline
                            strong 购买份数
                            span#adult-number
                                input.number(type='tel', value='1', id='amount')
                        .zyx-item-btn.inline
                            //.base-img.inline 扫码预订
                            a.car-i-btn.inline.blue-bg-down.ml175(href='javascript:;') 立即预订
        .item-left
            +bigImgSlide(slide)
            .empblock
            #calendar.detail-calender.zyx-calendar
            input(type="hidden",class="hiddata")
mixin repast(slide,data)
    .detail-head.mb10
        // 商品详情右侧
        .item-summary-box
            .item-summary.type1.tkt
                // 标题
                .item-name.goods-name
                    h4=data.aliasName
                        em.c-red=data.labelsName
                .foods-txt.detail-info
                    p.n
                        label 美食介绍：
                        span
                            +strcut(data.subtitle,38)

                .border-goods
                +info(data)
                .share
                    +share
                .r-detail-bottom
                    .btn
                        .zyx-item-btn.fr
                            .goods-price.inline.c-red
                                span.saleprice
                                    | ¥
                                    em=data.price
                                    | /人均
                            a.zyx-i-btn.inline.c-bg-orange.go-map-a(gomap='#px',href="javascript:;") 立即预订
                        .detail-info.fl
                            p.n
                                label 地址：
                                span 餐厅地址#{data.addr}
                                    a.c-blue.go-map.go-map-a(gomap='#jtzn',href="javascript:;") 查看地图>>
        // 轮播图模块
        +imgslide(slide)


mixin info(data)
    ul.info-menu
        li
            span.branch
                em 4.9
                | /5分
            strong 好评率
        li
            span.c-red.count=data.countComment ? data.countComment : '0'
            strong 点评人数
        li
            span.c-red=data.salesNum ? data.salesNum : '0'
            strong 月销售量

mixin imgslide(data)
    .item-left
        .item-imgslide.type1
            .bd
                ul
                    each item in data
                        li
                            img(src=item.pcUrl, alt='')
            .hd
                a.slidebtn.prev(href='javascript:;') <
                a.slidebtn.next(href='javascript:;') >
                ul
                    each item in data
                        li
                            i.bg
                            img(src=item.pcUrl, alt='')

mixin bigImgSlide(data)

    .detail-ban
        ul.bigImg
            each item in data
                li
                    img(src=item.pcUrl, alt='')
        .smallScroll
            //
              <a class="sPrev" href="javascript:void(0)"></a>
              <a class="sNext" href="javascript:void(0)"></a>
            .smallImg
                ul
                    each item in data
                        li
                            i.bg
                            img(src=item.pcUrl, alt='')